<!DOCTYPE html>
<html>
<%- include('elements/meta', {
	title: "jColour",
	desc: "jColour Discord bot."
}) %>

	<body>

		<div class="is-page">
			<%- include('elements/header', {
				text: "jColour"
			}) %>

				<section class="hero content">
					<div class="hero-body">
						<div class="container is-centered infobox" id="info">

							<h2 class="title is-3">
								jColour - the colour managing Discord bot
							</h2>

							<a href="/invite" class="button is-large is-dark">
								Invite
							</a>

							<a href="/docs" class="button is-large is-dark">
								Documentation
							</a>

							<a href="/demo" class="button is-large is-dark">
								Demo
							</a>

							<a href="https://github.com/jaqreven/jColour" class="button is-large is-dark">
								Github
							</a>

							<h1 class="title is-3">Here's what I can do:</h1>
							<ul>
								<li>make a website based on the colours of your server</li>
								<li>give a default colour to new members</li>
								<li>change your colour to the one you want</li>
								<li>give a random colour from the list</li>
								<li>pick the best available colour for your profile picture</li>
								<li>give you a random, chosen or the most suiting hex colour</li>
							</ul>

							<% if (registry) { %>
								<h1 class="title is-3">Available commands:</h1>
								<div class="tg-wrap">
									<table class="tg">
										<tr>
											<th class="tg-us36">Command</th>
											<th class="tg-us36">Argument</th>
											<th class="tg-us36">Description</th>
											<th class="tg-us36">Group</th>
										</tr>
										<% registry.forEach(function(command) { %>



											<tr>
												<td class="tg-us36">
													<%= command.name %>
												</td>
												<td class="tg-us36">
													<%= command.format %>
														<br>
												</td>
												<td class="tg-us36">
													<%= command.desc %>
														<br>
												</td>
												<td class="tg-us36">
													<%= command.group %>
												</td>
											</tr>


											<% }) %>

									</table>
								</div>

								<% } %>

									<br />

									<div class="media">
										<figure class="image">
											<a href="https://discordbots.org/bot/358968052500660226">
												<img src="https://discordbots.org/api/widget/358968052500660226.svg" alt="jColour at Discordbots.org" />
											</a>
										</figure>
									</div>

						</div>
					</div>
				</section>
		</div>

		<%- include elements/footer %>

	</body>

</html>